*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
body{
    font-family: "Open+Sans", sans-serif;
}
a{
    text-decoration: none;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}
.margen-interno{
    padding: 0 50px;
}
   .header{
	    background: #000;
        display: flex;
        flex-flow: column nowrap;
        background: url(imagenes/lady-justice-2388500.jpg);
    }
        .menu{
    	    background:rgba(0,0,0,.1);
            display: flex;
            flex-flow: row nowrap;
            height: 60%;
            align-items: center;
            border-bottom: 1px solid rgba(255,255,255,.5)
         }
                .logo{
                    flex: 1 1 auto;
                    
                }
                    .logo a{
                       color: #fff;
                       size: 4px;
                       text-align: none;
                    }
                    .logo a:hover{
                        color: #343434;
                    }

                .nav{
                	
                     flex: 5 1 auto;
                }
                    .nav a{
                        color:#fff;
                        font-size: 11px;
                        text-transform: uppercase;
                        padding: 0 10px;
                        letter-spacing: 2px;
                    }
                    .nav a:hover{
                        color: #343434;
                    }
                .social{
                     flex: 1 1 auto;
                }
                .social a:hover{
                    color: #343434;
                }

            .texto_ppal{
            	/*background:#74b49b;*/
                height: 580px;
                display: flex;
                align-items: center;
            }   
                h1{
                	font-family: 'Raleway',serif;
                    font-size: 21px;
                    color:#fff;
                    font-weight: 300;
                    text-align: center;
                    line-height: 1.6;
                } 

        .section{
        	background:#f7f7f7;
            display: flex;
            flex-flow: row nowrap;

        }   
            .articulos{
                background:#f7f7f7;
                flex: 2 1 auto;
                display: flex;
                flex-flow: row wrap;
                
            }
                .article{
                    flex: 1 1 40%;
                    color: #444;
                    font-size: 13px;
                    letter-spacing: 1px;
                    margin: 10px 10px 0 0px;
                    flex: 1 1 45%;
                    background: #ececec;
                } 
                .article img{
                    width: 100%;
                }
                .article a{
                    color: #fff;
                    font-size: 13px;
                    padding: 10px 10px;
                    background: #000;
                    margin: 10px 0;
                }
                .article a:hover{
                    background: #546cc3;
                }
                h3{
                    color:#fff;
                    font-size: 13px;
                    padding: 10px 0;
                    margin-top: -80px;
                }
                h2{
                    font-size: 25px;
                    text-transform: uppercase;
                    padding: 0px 0 10px 0;
                    color: #fff;
                }
                .navegacion{
                     background:#000;
                     flex: 1 1 100%;
                }  
                .navegacion a{
                    color: #fff;
                    font-size: 11px;
                    text-transform: uppercase;
                    padding: 0 10px;
                    letter-spacing: 2px;
                }

    .footer{
        background:#000;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        }

        .pie{
            /*background:#e6af2e;*/
            text-align: center;

        }
        .pie a{
            color: #fff;
            font-size: 11px;
            text-transform: uppercase;
            padding: 0 10px;
            letter-spacing: 2px;
        }

@media all and (max-width: 1120px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction:column;
        height: auto;
    }
    h1{
        font-size: 15px;
    }
    .texto-ppal{
        height: 450px;
    }

}

@media all and (max-width: 162px){
    .articulos{
        flex-direction: column;
    }
}
#input {
    border-radius:5px 5px 5px 5px;
    width: 150px;
    height: 30px;
    border-color: black;
    border: 1px;
}

.perfiles{
    200
    background: #000;
    display: flex;
    flex-flow: column nowrap;
    background: url(imagenes/lady-justice-2388500.jpg);
}

.perfiles.perfil{
  background-color: #fafafa;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;
  text-align: center;
  background:url(imagenes/lady-justice-2388500.jpg);
  color:#ffff;
}

img{
 width:150px;
 height:150px;
}

.comoFunciona{
  background-color: #fafafa;
  margin: 100px;
  padding: 1rem;
  border: 2px solid #ccc;
  text-align: center;
  background:url(imagenes/lady-justice-2388500.jpg);
  color:#ffff;
}


/*css registro clientes*/

#log-in-form{
    margin: 230px auto 0;
    padding: 10px;
    color: white;
    height: auto;
    max-width: 800px;
    background-image: url("notebook-chill.jpg");
    background-size: cover;
}

#log-in-form .heading{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

#log-in-form .form-group{
    float: left;
    width: 28%;
    margin-left: 40px;
}

#log-in-form .form-control{
    padding: 15px 25px;
    height: auto;
}

#log-in-form .form-group-btn{
    width: 15%;
    margin-left: 70px;
}

#log-in-form .btn{
    padding: 13px 32px;
}

#log-in-form .checkbox{
    float: left;
    margin: 15px 0 50px 40px;
}


@media screen and (max-width: 800px){
    #log-in-form{
        margin: 20px;
    }

    #log-in-form .form-group{
        width: 60%;
        float: none;
        margin: 10px auto;
    }

    #log-in-form .form-group-btn{
        margin-top: 30px;
    }

    #log-in-form .btn{
        width: 100%;
    }

    #log-in-form .checkbox{
        width: 60%;
        float: none;
        margin: 15px auto 50px auto;
    }
}

@media screen and (max-width: 600px){
    #log-in-form .form-group,
    #log-in-form .checkbox{
        width: 90%;
    }
}
